<!-- begin row 2. -->
<div class="row">
    <div class="col-xs-3">
      <div class="col-sm-12" style="margin-top: -200px;">
            <%= image_tag User.find_by_username(params[:id]).avatar.url(:profile), :class => "rounded-img" %>
      </div>
      <div class="col-sm-12">
        <h3 style="font-weight: bold;"><%=  User.find_by_username(params[:id]).fullname %></h3>
        <p>
          <b>About Me</b><br>
          <%=  User.find_by_username(params[:id]).desc %>
        </p>
        <i class="fa fa-calendar" aria-hidden="true"></i> <%= "Joined "+current_user.created_at.strftime("%B %d, %Y") %>
      </div>
    </div>
    
    <div class="col-xs-6">
      <%= render '/components/post_form' %><br><br>
        
        <% for @p in @posts %>
        <div class="panel panel-default post-panel">
          <div class="panel-body row">
            
            <div class="col-sm-1">
              <%= image_tag User.find_by_username(params[:id]).avatar.url(:side), :class => "rounded-img" %>
            </div>
            <div class="col-sm-11">
              <p class="post-title"><span class="post-owner"><a href="/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).fullname %></a></span> <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
              <p class="post-content"><%= @p.content %></p>
            </div>
            
            <div class="col-sm-12">
              <p class="post-links" style="margin-bottom: 0px; margin-top: 5px;">
                <span style="margin-right: 75px;"><i class="fa fa-comment" aria-hidden="true" style="bg-color:#337ab7;"><%= @p.comments.count %></i></span>
                <span class="glyphicon glyphicon-retweet g-links" aria-hidden="true"></span>
                <span style="margin-right: 75px;"><%= link_to @p.get_upvotes.size, like_post_path(@p), method: :put, :class => "fa fa-heart" %></span>
                <span class="glyphicon glyphicon-option-horizontal g-links" aria-hidden="true"></span>
                <a href=<%= "/posts/" +  @p.id.to_s %>>View conversation</a>
              </p>
            </div>
            
          </div>
        </div>
        <% end %>
        <div class="panel panel-default post-panel">
          <div class="panel-body row">
            <div class="col-sm-12">
            <center><img src="/icon.png" height="25px" width="25px"></img>
              <a href="#top"><p class="opacity: .7;">Back to top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
            </div>
          </div>
        </div>
    </div>
    
    <div class="col-xs-3">
        <%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
        <div class="panel panel-default">
          <div class="panel-body">
             <h5 style="color: grey; font-size: 125%;">Who to follow</h5>
             <% for @u in @toFollow do %>
               <p style="font-weight: bold; opacity: 0.85;" ><a href="/user/<%= @u.username %>"><%= @u.fullname %></a></p>
             <% end %>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-body">
             <h5 style="color: grey; font-size: 125%;">Trends</h5>
              <a href="">#Trend #1</a><br>
                <span style="color: grey;">31k Posts</span><br><br>
              <a href="">#Trend #2</a><br>
                <span style="color: grey;">25k Posts</span><br><br>
              <a href="">#Trend #3</a><br>
                <span style="color: grey;">16k Posts</span><br><br>
          </div>
        </div>
    </div>
</div>
